<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Appointment</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/info-form'>Chat Room</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>
<div style="height:90px"></div>


<div class = "ml-4 mb-4">
<h1 class="display-5">Upcoming Appointments</h1>
</div>


<div class="container-fluid">
    <div class="row flex-row flex-nowrap overflow-auto">
        {{# each upcoming}}
        <div class="col-4">
      <div class="card border-light bg-light ml-3" style="width: 25rem; height: 15rem;"> 
            <div class="card-body">
                  <h5 class="card-title">with {{doctor_id}}</h5>
                  <p class="card-text" style="">{{title}}</p>
                  <p class="card-text">{{start}}</p>
            </div>
            <a href=/appointments/{{slug}} class="custom-card">
            <div class="card-footer bg-primary border-warning" style="color: white">Details</div>
            </a>
      </div>
      </div>
  {{/each}}
    </div>
</div>


<div style="height:50px"></div>

<div class = "ml-4 mb-4">
<h1 class="display-5">History Appointments</h1>
</div>


<div class="container-fluid">
    <div class="row flex-row flex-nowrap overflow-auto">
        {{# each history}}
        <div class="col-4">
      <div class="card border-light bg-light ml-3" style="width: 25rem; height: 15rem;"> 
            <div class="card-body">
                  <h5 class="card-title">with {{doctor_id}}</h5>
                  <p class="card-text">{{title}}</p>
            </div>
            <a href=/appointment-rate/{{slug}} class="custom-card">
            <div class="card-footer bg-primary border-warning" style="color: white">Rate</div>
            </a>
      </div>
      </div>
  {{/each}}
    </div>
</div>



<div style="height:30px"></div>
