<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 500px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 100px">
                            <a href="/appointment-history/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Appointment Details</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/info-form'>Chat Room</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 50px; padding-left: 250px; background-color: #00243b">
        <h1 style="color:white; font-size: 25px" class="mb-3">Time to Start</h1> 
        <p style="color:white; font-size: 18px" class="mb-3">Start at: {{appointment.start}}</p>
        <p style="color:white; font-size: 18px" class="mb-3">End at: {{appointment.end}}</p>
        <a href="/diagnosis/{{appointment.slug}}"><button class="btn btn-primary">Diagnosis</button></a>
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="color:black; font-size: 25px">{{appointment.doctor.name}}</h1> 
        
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="color:black; font-size: 25px">Cheif Complaint</h1> 
        
    </div>