<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 1000px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 100px">
                            <a href="/appointment-history/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 150px">
                           <a href="/appointments/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment Details</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Diagnosis</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form/{{userslug}}'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/chat'>Chat Room</a>
                                    <a href='/logout'>Log Out</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>

<div class="container" style="padding-left: 10%; padding-right: 10%">
    <div class="diagnosis-form" style="box-shadow: lightgrey 0px 1px; padding: 30px ">
    <form id= "diagnosis" method = "POST" action="/diagnosis/{{slug}}">
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Health Data</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Height</label>
                <div class="form-inline">
                    <input type="text" name="height" class="form-control" style="text-align: right" placeholder="Height" value="{{medicalProfile.height}}" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        cm
                    </medium>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Weight</label>
                <div class="form-inline">
                    <input type="text" name="weight" class="form-control" style="text-align: right" placeholder="Weight" value="{{medicalProfile.weight}}" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        kg
                    </medium>
                </div>
            </div>
            <div class="form-group col-md-2 mb-4">
                <label for="exampleFormControlSelect1">Blood Type</label>
                <select class="form-control" name="blood_type" required>
                <option selected>{{medicalProfile.blood_type}}</option>
                <option>A</option>
                <option>B</option>
                <option>AB</option>
                <option>O</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Right Eye Sight</label>
                <div class="form-inline">
                    <input type="text" name="left_eye_sight" class="form-control" placeholder="Left" value="{{medicalProfile.left_eye_sight}}" required>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Left Eye Sight</label>
                <div class="form-inline">
                    <input type="text" name="right_eye_sight" class="form-control" placeholder="Right" value="{{medicalProfile.right_eye_sight}}" required>
                </div>
            </div>
            <div class="form-group col-md-4 mb-4">
                <label class="column-content">Blood Pressure</label>
                <div class="form-inline">
                    <input type="text" name="blood_pressure_high" class="form-control col-md-3" placeholder="High" value="{{medicalProfile.blood_pressure_high}}" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2 mr-2">
                        /
                    </medium>
                    <input type="text" name="blood_pressure_low" class="form-control col-md-3" placeholder="Low" value="{{medicalProfile.blood_pressure_low}}" required>
                    <medium id="passwordHelpInline" class="text-muted ml-2">
                        mmHg
                    </medium>
                </div>
            </div>
        </div>
       
        <div class="form-group mb-4">
            <label class="column-content">Medical History</label>  
            <textarea class="form-control"  style="height:150px" name="medical_history">{{medicalProfile.medical_history}}</textarea>
        </div>

        <div class="form-group mb-4">
            <label class="column-content">Allergy</label>  
            <textarea class="form-control"  style="height:100px" name="allergy">{{medicalProfile.allergy}}</textarea>
        </div>

        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Diagnosis</h5>
        </div>
        <div class=" " style="height: 10px">
        </div>
        <!-- Include stylesheet -->
        <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
        <!-- Create the editor container -->
        <input type="hidden" name="diagnosis">
        <div id="editor" style="height:400px; background-color: white; overflow:auto"></div>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        var form = document.querySelector('form');
        form.onsubmit = function() {
            // Populate hidden form on submit
            var diagnosis = document.querySelector('input[name=diagnosis]');
            diagnosis.value = JSON.stringify(quill.getContents());
            console.log("contentyeah", $(form).serialize())
        };
        </script>

        <div class="" style="height: 25px"></div>

        <button class="btn btn-primary" type="submit">Submit form</button>
        </form>

    </div>
</div>                           

<div class="well"> 
</div>


