{{#if error}}
	<h1>Error!</h1>
{{else}}	
	<ul>
		<li>Name: {{doctor.name}}</li>
		<li>Birthdate: {{doctor.date_of_birth}}</li>
		<li>Gender: {{doctor.gender}}</li>
		<li>Phone: {{doctor.phone}}</li>
		<li>Email: {{doctor.email}}</li>
		<li>Address: {{doctor.address}}</li>
		<li>Hospital: {{doctor.hospital}}</li>
		<li>Department: {{doctor.department}}</li>
		<li>Position: {{doctor.position}}</li>
		<li>Rating: {{doctor.rating}}</li>
	</ul>
{{/if}}