{{#if error}}
	<h1>Error!</h1>
{{else}}	
<script>
function goBack() {
  window.history.back();
}
</script>
<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <a onclick="goBack()" style="color: rgb(83, 107, 243)">Go Back</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Detail Information</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                {{#if user}}
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form/{{userslug}}'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/chat'>Chat Room</a>
                                    <a href='/logout'>Log Out</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                {{else}}
                <table> 
                    <tr>
                        <td style="width: 60px; font-color: rgb(83, 107, 243)">
                            <form action="/login">
                            <input class = "nav" id="clicklog" type="submit" value="Log In" style="background-color: transparent; border: none; color: rgb(83, 107, 243)">
                            </form>
                        </td>
                        <td>
                            <form action="/signup">
                            <input class = "nav" id="clicksignup" type="submit" value="Sign Up" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                    </tr>
                </table>
                {{/if}}
            </td>
        </tr>
    </table>          
</div>

<div>

    <nav aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a href="/">Homepage</a></li>
    		<li class="breadcrumb-item">Search</li>
    		<li class="breadcrumb-item">{{doctor.name}}</li>
  		</ol>
	</nav>

	<div class=" " style="height: 20px">
	</div>

	<div class="card mt-4" style="max-width: 840px; max-height: 80px; left: 23%">
		<div class="card-body text-left">
		<h5 class="card-title" style="font-size: 30px">Profile</h5>
		</div>
	</div>


	<div class="card mt-4" style="max-width: 840px; left: 23%">

	    <div class="row no-gutters">

		    <div class="col-md-2">
			
			  	<div class="card-body text-left">
			    	<p class="card-text">Name</p>
			    	<p class="card-text">Birthdate</p>
			    	<p class="card-text">Gender</p>
			    	<p class="card-text">Phone</p>
			    	<p class="card-text">Email</p>
			    	<p class="card-text">Hospital</p>
			    	<p class="card-text">Department</p>
			    	<p class="card-text">Position</p>
			    	<p class="card-text">Rating</p>
			    	<p class="card-text">Address</p>

			  	</div>
			</div>

			<div class="col-md-8">
				<div class="card-body text-left">
					<p class="card-text">{{doctor.name}}</p>
			    	<p class="card-text">{{doctor.date_of_birth}}</p>
			    	<p class="card-text">{{doctor.gender}}</p>
			    	<p class="card-text">{{doctor.phone}}</p>
			    	<p class="card-text">{{doctor.email}}</p>
			    	<p class="card-text">{{doctor.hospital}}</p>
			    	<p class="card-text">{{doctor.department}}</p>
			    	<p class="card-text">{{doctor.position}}</p>
			    	<p class="card-text">{{doctor.rating}}</p>
			    	<p class="card-text">{{doctor.address}}</p>
				</div>

			</div>
		</div>


		
		
	</div>



</div>
{{/if}}