<script>
    function navbar() {
        var bar = document.getElementById("navbar");
        bar.setAttribute("style", "background-color: white; color: grey");
        if (document.getElementById("clicklog") != null && document.getElementById("clicksignup") != null){
            var login = document.getElementById("clicklog");
            login.setAttribute("style", "background-color: transparent; border: none; color: grey");
            var signup = document.getElementById("clicksignup");
            signup.setAttribute("style", "background-color: transparent; border: none; color: grey");
        }
        else{
            var greet = document.getElementById("greeting");
            greet.setAttribute("style", "background-color: transparent; border: none; color: grey");
            var img = document.getElementById("user_image");
            img.setAttribute("src", "../public/img/user_grey.png");
        }
    }
    function reverse() {
        var bar = document.getElementById("navbar");
        bar.setAttribute("style", "background-color: transparent; color: white");
        if (document.getElementById("clicklog") != null && document.getElementById("clicksignup") != null){
            var login = document.getElementById("clicklog");
            login.setAttribute("style", "background-color: transparent; border: none; color: white");
            var signup = document.getElementById("clicksignup");
            signup.setAttribute("style", "background-color: transparent; border: none; color: white");
        }
        else{
            var greet = document.getElementById("greeting");
            greet.setAttribute("style", "background-color: transparent; border: none; color: white");
            var img = document.getElementById("user_image");
            img.setAttribute("src", "../public/img/user_white.png");
        }
    }
</script>
<div style="height: 50px"></div>
<div id="navbar" style="width: 100%" onmouseover="navbar()" onmouseout="reverse()">
    <table id="table">
        <tr>
            <td>
                <table style="width: 130px"> 
                    <tr>
                        <td style="width: 80px">
                            <a href="#" class="nav">Home</a>
                        </td>
                        <td style="width: 80px">
                            <a href="/main-forum" class="nav">Forum</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                {{#if user}}
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: white">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_white.png" height="20px" href='/info-form/{{userslug}}'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form/{{userslug}}'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/chat'>Chat Room</a>
                                    <a href='/logout'>Log Out</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                {{else}}
                <table> 
                    <tr>
                        <td style="width: 60px">
                            <form action="/login">
                            <input id="clicklog" type="submit" value="Log In" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                        <td>
                            <form action="/signup">
                            <input id="clicksignup" type="submit" value="Sign Up" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                    </tr>
                </table>
                {{/if}}
            </td>
        </tr>
    </table>          
</div>
{{error}}