<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Forum</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                {{#if NotLogin}}
                <table> 
                    <tr>
                        <td style="width: 60px; font-color: rgb(83, 107, 243)">
                            <form action="/login">
                            <input class = "nav" id="clicklog" type="submit" value="Log In" style="background-color: transparent; border: none; color: rgb(83, 107, 243)">
                            </form>
                        </td>
                        <td>
                            <form action="/signup">
                            <input class = "nav" id="clicksignup" type="submit" value="Sign Up" style="background-color: transparent; border: none; color: rgb(83, 107, 243)">
                            </form>
                        </td>
                    </tr>
                </table>
                {{else}}
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px">
                        <a href='/info-form'><img id="user_image" src="../public/img/user_grey.png" height="20px"/></a>
                        </td>
                    </tr>
                </table>
                {{/if}}
            </td>
        </tr>
    </table>          
</div>
<div style="height:60px"></div>
	<div style="float:left; width: 70%; padding-left:60px; padding-top: 30px; padding-bottom: 30px; margin-bottom: 30px; margin-right:30px">
		{{#each posts}}
			<div style="background-color: white; box-shadow: lightgrey 0px 0px 3px; height: 160px; padding: 15px;padding-left: 20px; margin-bottom:30px; padding-right: 45px">
				<div style="float: left"><h2 class='forumtitle'><a style='font-size: 25px; color: #42413d' href=/posts/{{slug}}>{{title}}</a></h2></div>
                <div style="float: right; padding-top:8px"><img src="../public/img/hit.png" width="23px"/><span style="font-size:16px; font-weight:bold;color:rgb(83, 107, 243)"> {{hit}}</span></div>
				<br/>
                <br/>
                <p style="color:#00243b; font-size: 16px"><span style="font-weight: bold">{{name}}:</span>"{{content}}" <a href=/posts/{{slug}} style="font-style:italic; font-size: 14px; color: rgb(83, 107, 243)">Read More</a><p>
				<!-- &nbsp;
				&nbsp;
				&nbsp;
				<button type="button" class="button1" onclick="window.location.href=/posts/{{slug}}" >Comment</button>-->
			</div>
		{{/each}}
	</div>
<div style="float: left;width: 25%; top:30px; padding-top:30px">
	<div style="background-color: white; box-shadow: lightgrey 0px 0px 3px; height: 180px; padding:20px">
        <form method="GET" action="/main-forum">
		<button type="button" onclick="window.location.href='/posts-new'" style="height:40px; width:130px; border: solid 1.5px rgb(83, 107, 243); background-color:rgb(83, 107, 243);  border-radius: 25px; color:white">Make My Post</button>
		<br/>
		<br/>
		<p style="color: #42413d; font-weight: bold">Search for:</p>
		<select id="filter" name="filter" style="background-color:transparent;  border: solid 1px #00243b; height:30px">
	    	<option value="title">Title</option>
	    	<option value="name">Author</option>
		</select>
	    <input type="text" name="option" value="" id="filter-option" style="background-color:transparent; border: solid 1.2px #00243b; height:30px">
		<input type="submit" style="background-color:rgb(83, 107, 243); height:30px; color:white; border: solid 1.5px rgb(83, 107, 243);border-radius: 3px; " value="Submit">
        </form>
       
	</div>
</div>
<br clear="all">


