<script>
    function myFunction(is_doctor) {
        document.getElementById("address").disabled = false;
        document.getElementById("phone").disabled = false;
        document.getElementById("email").disabled = false;
        document.getElementById("button").remove();      
        document.getElementById("submit").style.display = "unset";  
        if (is_doctor) {
            document.getElementById("hospital").disabled = false;
            document.getElementById("department").disabled = false;
            document.getElementById("position").disabled = false;
            document.getElementById("resume").disabled = false;
        } else {
            document.getElementById("height").disabled = false;
            document.getElementById("weight").disabled = false;
            document.getElementById("blood").remove();
            document.getElementById("blood_type").style.display = "unset";
            document.getElementById("left_eye_sight").disabled = false;
            document.getElementById("right_eye_sight").disabled = false;
            document.getElementById("blood_pressure_high").disabled = false;
            document.getElementById("blood_pressure_low").disabled = false;
            document.getElementById("medical_history").disabled = false;
            document.getElementById("allergy").disabled = false;
        }
    }
</script>

<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Personal Information</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px">
                        <a href='/info-form/{{userslug}}'><img id="user_image" src="../public/img/user_grey.png" height="20px"/></a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>

<div class="container" style="padding-left: 10%; padding-right: 10%">
    <div class="info-form" style="background-color: white; box-shadow: lightgrey 0px 1px; padding: 30px ">
        <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
            <h5 for="add-comment-box" style="color:#00243b">Personal Information</h5>
        </div>
        <form method = "POST" class="justify-content-center" action="/update-profile/{{userslug}}">
            <div class="form-row">
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{my.name}}" disabled>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Id</label>
                    <input type="text" class="form-control" id="id" name="id" value="{{my.id}}" disabled>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Account Type</label>
                    <input type="text" class="form-control" id="type" name="type" value="{{type}}" disabled>
                </div>
                <div class="form-group col-md-5 mb-4">
                    <label class="column-content">Date of Birth</label>
                    <input type="text" class="form-control" id="dob" name="date_of_birth" value="{{my.date_of_birth}}" disabled>
                </div>
                <div class="form-group col-md-5 mb-4">
                    <label for="exampleFormControlSelect1">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" value="{{my.gender}}" disabled>
                    <select class="form-control" id="select" style="display:none">
                    <option>Male</option>
                    <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-md-5 mb-4">
                    <label for="exampleFormControlSelect1">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{my.phone}}" disabled>
                </div>
                <div class="form-group col-md-5 mb-4">
                    <label for="exampleFormControlSelect1">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{my.email}}" disabled>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 mb-4">
                    <label class="column-content">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{my.address}}" disabled>
                </div>
            </div>
            {{#if is_doctor}}
            <div class="form-group col-md-3 mb-4">
                <label for="exampleFormControlSelect1">Hospital</label>
                <input type="text" class="form-control" id="hospital" name="hospital" value="{{my.hospital}}" disabled>
            </div>
            <div class="form-group col-md-3 mb-4">
                <label for="exampleFormControlSelect1">Department</label>
                <input type="text" class="form-control" id="department" name="department" value="{{my.department}}" disabled>
            </div>
            <div class="form-group col-md-3 mb-4">
                <label for="exampleFormControlSelect1">Position</label>
                <input type="text" class="form-control" id="position" name="position" value="{{my.position}}" disabled>
            </div>
            <div class="form-group col-md-3 mb-4">
                <label for="exampleFormControlSelect1">Rating</label>
                <input type="text" class="form-control" id="rating" name="rating" value="{{my.rating}}" disabled>
            </div>
             <div class="form-group mb-4">
                <label class="column-content">Resume</label>  
                <textarea class="form-control" id="resume" style="height:150px" name="resume" disabled>{{my.resume}}</textarea>
            </div>
            {{/if}}
            {{#unless is_doctor}}
            <div style="height:30px"></div>
            <div style="border-bottom:solid 1px lightgrey; width: 100%; align: centre; margin-bottom: 15px">
                <h5 for="add-comment-box" style="color:#00243b">Health Data</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Height</label>
                    <div class="form-inline">
                        <input type="text"id="height" name="height" class="form-control" style="text-align: right" placeholder="Height" value="{{medicalProfile.height}}" disabled>
                        <medium id="passwordHelpInline" class="text-muted ml-2">
                            cm
                        </medium>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Weight</label>
                    <div class="form-inline">
                        <input type="text" id="weight" name="weight" class="form-control" style="text-align: right" placeholder="Weight" value="{{medicalProfile.weight}}" disabled>
                        <medium id="passwordHelpInline" class="text-muted ml-2">
                            kg
                        </medium>
                    </div>
                </div>
                <div class="form-group col-md-2 mb-4">
                    <label for="exampleFormControlSelect1">Blood Type</label>
                    <input type="text" id="blood" name="blood_type" class="form-control" style="text-align: right" placeholder="Blood Type" value="{{medicalProfile.blood_type}}" disabled>
                    <select class="form-control" id="blood_type" style="display:none" name="blood_type" required>
                    <option selected>{{medicalProfile.blood_type}}</option>
                    <option>A</option>
                    <option>B</option>
                    <option>AB</option>
                    <option>O</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Right Eye Sight</label>
                    <div class="form-inline">
                        <input type="text" id="left_eye_sight" name="left_eye_sight" class="form-control" placeholder="Left" value="{{medicalProfile.left_eye_sight}}" disabled>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Left Eye Sight</label>
                    <div class="form-inline">
                        <input type="text" id="right_eye_sight" name="right_eye_sight" class="form-control" placeholder="Right" value="{{medicalProfile.right_eye_sight}}" disabled>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-4">
                    <label class="column-content">Blood Pressure</label>
                    <div class="form-inline">
                        <input type="text" id="blood_pressure_high" name="blood_pressure_high" class="form-control col-md-3" placeholder="High" value="{{medicalProfile.blood_pressure_high}}" disabled>
                        <medium id="passwordHelpInline" class="text-muted ml-2 mr-2">
                            /
                        </medium>
                        <input type="text" id="blood_pressure_low" name="blood_pressure_low" class="form-control col-md-3" placeholder="Low" value="{{medicalProfile.blood_pressure_low}}" disabled>
                        <medium id="passwordHelpInline" class="text-muted ml-2">
                            mmHg
                        </medium>
                    </div>
                </div>
            </div>
       
            <div class="form-group mb-4">
                <label class="column-content">Medical History</label>  
                <textarea class="form-control" id="medical_history" style="height:150px" name="medical_history" disabled>{{medicalProfile.medical_history}}</textarea>
            </div>

            <div class="form-group mb-4">
                <label class="column-content">Allergy</label>  
                <textarea class="form-control" id="allergy" style="height:100px" name="allergy" disabled>{{medicalProfile.allergy}}</textarea>
            </div>
            {{/unless}}
            <button class="btn btn-primary" id="submit" type="submit" style="background: rgb(83, 107, 243); margin-left: 80%; display:none">Submit form</button> 
            </form>

            <button class="btn btn-primary" id="button" onclick="myFunction({{is_doctor}})" style="background: rgb(83, 107, 243); margin-left: 80%">Edit</button>
           

    </div>
</div>   

<div class="well"> 
</div>
</div>
</form>


