{{user.name}}<br>
{{user.email}}<br>
{{user.phone}}<br>
{{user.address}}<br>
			<form id= "register" method = "POST" action="/update-profile/{{slug}}">
  			<div class="card-body">
   				 <ul class="list-group list-group-flush">
					<li class="list-group-item" style="padding-bottom: 3%">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Name" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Name:</span>
  							</div>
  							<input type="text" name="Name" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
  							<div class="input-group-prepend">
  						  		<span for="Email" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Email:</span>
  							</div>
  							<input type="text" name="Email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
						
  							<div class="input-group-prepend">
  						  		<span for="Phone" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Phone:</span>
  							</div>
  							<input type="text" name="Phone" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>
					<li class="list-group-item">
						<div class="input-group mb-3" style="width: 50%; margin-left: -40%; margin-top: 2%">
						
  							<div class="input-group-prepend">
  						  		<span for="Address" class="input-group-text" id="basic-addon1" style="background-color: transparent; border: none">Address:</span>
  							</div>
  							<input type="text" name="Address" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</li>

					<li class="list-group-item">
						<button type="submit" class="btn btn-primary" style="background-color: #00243b; margin-top: 2%">Create Account</button>
					</li>
				</ul>
 			 </div>
		     </form>