<div style="height: 50px"></div>
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 500px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td style="width: 100px">
                            <a href="/appointment-history/{{appointment.slug}}" style="color: rgb(83, 107, 243)">Appointment</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Ratings</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form/{{userslug}}'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/chat'>Chat Room</a>
                                    <a href='/logout'>Log Out</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>          
</div>

<div class=" " style="height: 90px">
</div>
{{#if is_doctor}}
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 30px; padding-left: 250px; background-color: #00243b">
        <h1 style="color:white; font-size: 25px" class="mb-3">Appointment Information</h1> 
        <p style="color:white; font-size: 18px" class="mb-3">Start at: {{appointment.start}}</p>
        <p style="color:white; font-size: 18px" class="mb-3">End at: {{appointment.end}}</p>
        <p style="color:white; font-size: 18px">Locate at: {{doctor.hospital}}</p>
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="color: black; background: lightgrey; padding-top: 30px; padding-bottom: 30px; padding-left: 250px">
        <h1 style="font-size: 25px" class="mb-3">Diagnosis</h1> 
        <p style="font-size: 18px" >{{appointment.diagnosis}}</p>
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="color:black; background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="font-size: 25px" class="mb-3">Cheif Complaint</h1>
        <p style="font-size: 18px">{{appointment.chief_complaint}}</p>
    </div>

    {{# if appointment.rate}}
    <div class=" " style="height: 40px">
    </div>
    <div class="container-fluid" style="color:black; background: lightgrey; padding-top: 30px; padding-left: 250px; padding-bottom: 50px">
     <h1 style="font-size: 25px" class="mb-4">Feedback</h1>
     <div style="width: 70%">
     <input type="number" name="rate" id="rating1" class="rating" value={{appointment.rate}} data-readonly>
     <div class=" " style="height: 10px"></div>
     <p style="font-size: 18px">{{appointment.comment}}</p>
     </div>
    {{/if}}

{{else}}
<div class="container-fluid" style="padding-top: 50px; padding-bottom: 30px; padding-left: 250px; background-color: #00243b">
        <h1 style="color:white; font-size: 25px" class="mb-4">Appointment Information</h1> 
        <p style="color:white; font-size: 20px" class="mb-3">With Doctor {{doctor.name}}</p>
        <p style="color:white; font-size: 18px" class="mb-3">Start at: {{appointment.start}}</p>
        <p style="color:white; font-size: 18px" class="mb-3">End at: {{appointment.end}}</p>
        <p style="color:white; font-size: 18px">Locate at: {{doctor.hospital}}</p>
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="color: black; background: lightgrey; padding-top: 30px; padding-bottom: 30px; padding-left: 250px">
        <h1 style="font-size: 25px" class="mb-3">Diagnosis</h1> 
        <p style="font-size: 18px">{{appointment.diagnosis}}</p>
    </div>

    <div class=" " style="height: 40px">
    </div>

    <div class="container-fluid" style="color:black; background: lightgrey; padding-top: 30px; padding-bottom: 50px; padding-left: 250px">
        <h1 style="font-size: 25px" class="mb-3">Cheif Complaint</h1>
        <p style="font-size: 18px">{{appointment.chief_complaint}}</p>
    </div>

    <div class=" " style="height: 40px">
    </div>

    {{#if appointment.rate}}
    
     <div class="container-fluid" style="color:black; background: lightgrey; padding-top: 30px; padding-left: 250px; padding-bottom: 50px">
     <h1 style="font-size: 25px" class="mb-4">Feedback</h1>
     <div style="width: 70%">
     <input type="number" name="rate" id="rating1" class="rating" value={{appointment.rate}} data-readonly>
     <div class=" " style="height: 10px"></div>
     <p style="font-size:18px">{{appointment.comment}}</p>
     </div>
    {{else}}
    <form id= "rate" method = "POST" action="/rate/{{appointment.slug}}">
    <div class="container-fluid" style="color:black; background: lightgrey; padding-top: 30px; padding-left: 250px; height: 650px">
    <h1 style="font-size: 25px" class="mb-4">Feedback</h1>
    <div style="width: 70%">
    <input type="number" name="rate" id="rating1" class="rating" data-clearable="remove"/>

    <div class=" " style="height: 10px"></div>

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">
    <!-- Create the editor container -->
    <input type="hidden" name="comment">
    <div id="editor" style="height:400px; background-color: white; overflow:auto"></div>


    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.1.6/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    var form = document.querySelector('form');
    form.onsubmit = function() {
        // Populate hidden form on submit
        var comment = document.querySelector('input[name=comment]');
        comment.value = JSON.stringify(quill.getContents());
        console.log("contentyeah", $(form).serialize())
    };
    </script>

    <div class="" style="height: 25px"></div>

    <button class="btn btn-primary" type="submit" style="background-color: rgb(83, 107, 243)">Submit</button>
    </form>
    </div>
    {{/if}}
{{/if}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../public/javascripts/bootstrap-rating-input.min.js">
<script>
$(function(){
$('input').on('change', function(){
  alert("Changed: " + $(this).val())
});
});
</script>

</div>
<div style="height: 30px"></div>
