{{#if error}}
	<h1>{{error}}</h1>
{{else}}	


<div style="height: 50px"></div>  
<div id="loginnavbar" style="width: 100%;box-shadow: lightgrey 0px 1px; position:fixed; height: 60px">
    <table id="table">
        <tr>
            <td>
                <table style="width: 300px"> 
                    <tr>
                        <td style="width: 50px">
                            <a href="../" style="color: rgb(83, 107, 243)">Home</a>
                        </td>
                        <td style="width: 16px">
                            <p class = "nav">/</p>
                        </td>
                        <td>
                            <p class = "nav">Search</p>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td align="right" style="width: 100%">
                {{#if user}}
                <table> 
                    <tr>
                        <td align="right" style="width: 400px; padding-right: 15px">
                        <span id="greeting" style="background-color: transparent; border: none; color: grey">Hello {{user}}</span>
                        </td>
                        <td text-align="center" style="width: 20px; padding-right: 10px">
                            <div class="dropdown">
                                <button class="dropdown"><img id="user_image" src="../public/img/user_grey.png" height="20px" href='/info-form'/></button>
                                <div class="dropdown-content">
                                    <a href='/info-form/{{userslug}}'>Profile</a>
                                    <a href='/appointment-history/{{userslug}}'>Appointment</a>
                                    <a href='/chat'>Chat Room</a>
                                    <a href='/logout'>Log Out</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                {{else}}
                <table> 
                    <tr>
                        <td style="width: 60px; font-color:rgb(83, 107, 243)">
                            <form action="/login">
                            <input id="clicklog" type="submit" value="Log In" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                        <td>
                            <form action="/signup">
                            <input id="clicksignup" type="submit" value="Sign Up" style="background-color: transparent; border: none; color: white">
                            </form>
                        </td>
                    </tr>
                </table>
                </form>
                {{/if}}
            </td>
        </tr>
    </table>          
</div>


<div style="height: 90px"></div>  
    {{#if is_doctor}}
    {{#each doctors}}
        
        <div class="card mt-4" style="max-width: 800px; left: 20%">

        <div class="row no-gutters">

        <div class="col-mt text-center" style="background:rgb(83, 107, 243)">
          <div class = "card-body">
          <p class="card-title" style="color:white; font-size: 15px">Score</p>
          <p class= "card-text" style="color:white; font-size: 25px">{{rating}}</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title"><a href=/doctors/{{slug}} style="color:rgb(83, 107, 243)">{{name}}</a></h5>
            <p class="card-text">{{resume}}</p>
          </div>
        </div>
        </div>
        </div>
    {{/each}}
    {{else}}
	{{#each doctors}}
		
	    <div class="card mt-4" style="max-width: 800px; left: 20%">

		<div class="row no-gutters">

		<div class="col-mt text-center" style="background:rgb(83, 107, 243)">
		  <div class = "card-body">
		  <p class="card-title" style="color:white; font-size: 15px">Score</p>
		  <p class= "card-text" style="color:white; font-size: 25px">{{rating}}</p>
		  </div>
		</div>

		<div class="col-md-6">
		  <div class="card-body">
		    <h5 class="card-title"><a href=/doctors/{{slug}} style="color:rgb(83, 107, 243)">{{name}}</a></h5>
		    <p class="card-text">{{resume}}</p>
		  </div>
		</div>

        {{#unless is_doctor}}
		<div class="col-md text-center">
		  <div class = "card-body mt-4">
		  <a href="/make-appointment/{{slug}}" style="color: rgb(83, 107, 243); position: center">Make An Appointment</a>
		  </div>
		</div>
        {{/unless}}
		
		</div>
	    </div>
	{{/each}}
    {{/if}}
</div>
{{/if}}